<!-- ustudy_group/views/menu.xml -->
<odoo>
    <!-- ACTIONS -->

    <record id="action_edu_group_list" model="ir.actions.act_window">
        <field name="name">Groups</field>
        <field name="res_model">edu.group</field>
        <field name="view_mode">list,form</field>
    </record>

    <record id="action_student_list" model="ir.actions.act_window">
        <field name="name">Students</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,list,form</field>
        <field name="domain">[('is_student','=',True)]</field>
        <field name="context">{'default_is_student': True}</field>
    </record>


    <!-- MENUS -->

    <!-- Root menu for Education -->
    <menuitem id="menu_edu_root"
            name="Обзор"
            sequence="10"
            web_icon="ustudy_group,static/icon.png"/>

    <!-- Groups menu -->
    <menuitem id="menu_edu_groups"
              name="Grouplar"
              parent="menu_edu_root"
              action="action_edu_group_list"/>

    <!-- Students menu -->
    <menuitem id="menu_students"
              name="Talabalar"
              parent="menu_edu_root"
              action="action_student_list"/>

    <!-- Room menu -->
    <menuitem id="menu_edu_room"
              name="Xonalar"
              parent="menu_edu_root"
              action="action_edu_room"
              sequence="30"/>
    
    <!-- MENU ITEM -->
    <menuitem id="menu_edu_timetable"
              name="Dars Jadvali"
              parent="menu_edu_root"
              action="action_edu_timetable"
              sequence="15"/>


    <!-- MODULES MENU (ADMIN ONLY) -->
    <menuitem id="menu_edu_module"
              name="Modullar"
              parent="menu_edu_root"
              action="action_edu_module"
              sequence="90"
              groups="base.group_system"/>

</odoo>
