<!-- ustudy_group/views/menu.xml -->
<odoo>
    <!-- ACTIONS -->

    <record id="action_edu_group_list" model="ir.actions.act_window">
        <field name="name">Groups</field>
        <field name="res_model">edu.group</field>
        <field name="view_mode">list,form</field>
        <field name="search_view_id" ref="view_edu_group_search"/>
    </record>

    <record id="action_student_list" model="ir.actions.act_window">
        <field name="name">Students</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">kanban,list,form</field>
        <field name="domain">[('is_student','=',True)]</field>
        <field name="context">{'default_is_student': True}</field>
        <field name="search_view_id" ref="view_student_partner_search"/>
    </record>


    <!-- MENUS -->
    <!-- (root menu menu_edu_root is defined in menu_root.xml, loaded first) -->

    <!-- Groups menu -->
    <menuitem id="menu_edu_groups"
              name="Grouplar"
              parent="menu_edu_root"
              action="action_edu_group_list"/>

    <!-- Students menu -->
    <menuitem id="menu_students"
              name="Talabalar"
              parent="menu_edu_root"
              action="action_student_list"/>

    <!-- Room menu (under Sozlamalar; menu_edu_config loads earlier from
         edu_config_views.xml) -->
    <menuitem id="menu_edu_room"
              name="Xonalar"
              parent="menu_edu_config"
              action="action_edu_room"
              sequence="20"/>
    
    <!-- Timetable parent menu (groups the two schedule views) -->
    <menuitem id="menu_edu_timetable_root"
              name="Dars Jadvali"
              parent="menu_edu_root"
              sequence="15"/>

    <menuitem id="menu_edu_timetable"
              name="Dars jadvali"
              parent="menu_edu_timetable_root"
              action="action_edu_timetable"
              sequence="1"/>

    <!-- Room occupancy (which group uses which room, when) -->
    <menuitem id="menu_edu_timetable_rooms"
              name="Xonalar bandligi"
              parent="menu_edu_timetable_root"
              action="action_edu_timetable_rooms"
              sequence="2"/>


    <!-- MODULES MENU (ADMIN ONLY, under Sozlamalar) -->
    <menuitem id="menu_edu_module"
              name="Modullar"
              parent="menu_edu_config"
              action="action_edu_module"
              sequence="30"
              groups="base.group_system"/>

</odoo>
